//
// style.less
//

// Variables
@red: #ed6f72;
@gray: #474747;
@lightGray: #e4e5e6;
@lightPurple: #edd4e7;
@blueBlack: #030708;

* {
	box-sizing: border-box;
}

// Baseline formatting.
html, body, div, span, figure, header,
footer, aside, h1, h2, h3, section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

// HTML5 display-role reset for older browsers.
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	width: 100%;
	font-family: 'Lato', Helvetica, sans-serif;
	line-height: 1;
	color: @gray;
}

a {
	color: @red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		cursor: auto;
	}
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//
//	Header
//
#outer-wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 960px;
	height: 100%;
	position: relative;
}

header {
	padding: 10px 0;
	position: relative;
	h1 {
		float: left;
	}
	aside {
		float: right;

		a {
			font-size: 13px;
		}
	}
}

section {
	width: 100%;
}

.branding {
	width: 146px;
	height: 19px;
	text-indent: -9999px;
	background-image: url('../img/paragraphs-logo.png');
	background-repeat: no-repeat;
	background-size: 146px 19px;
}

#centerpiece {
	text-align: center;
	border-bottom: 1px solid @lightGray;
	margin-bottom: 120px;

	h1 {
		margin-top: 120px;
		margin-bottom: 115px;
		font-size: 72px;
		font-weight: 900;
	}

	h2 {
		font-size: 17px;
		margin-bottom: 80px;
		line-height: 25px;
	}

	&:after {
		content: '';
		display: inline-block;
		margin-bottom: -20px;
		width: 34px;
		height: 40px;
		background-image: url('../img/paragraphs-logo.png');
		background-color: white;
		background-repeat: no-repeat;
		background-size: 146px 19px;
		background-position: 9px 12px;
		border-left: 15px solid white;
		border-right: 15px solid white;
	}
}

.features {

	figure {
		position: relative;
		height: 385px;
		margin-bottom: 130px;

		&.right {

			aside {
				left: auto;
				right: 25px;
			}

			.image-container {
				right: auto;
				left: -130px;
			}
		}

		&.dark {
			background-color: @blueBlack;
			color: white;
		}

		&.flower-bg {
			background-image: url('../img/dark-mode.jpg');
			background-size: 970px 411px;
			background-repeat: no-repeat;
			background-position: -100px 0;
			margin-bottom: 0;
		}

		.image-container {
			width: 574px;
			height: 384px;
			position: absolute;
			right: -130px;
			background-size: 544px 500px;
			background-repeat: no-repeat;
			background-position: 15px 0;
			border-bottom: 1px solid @lightPurple;
		}

		.overview {
			background-image: url('../img/overview.jpg');
		}

		.toolbar {
			background-image: url('../img/toolbar.png');
		}

		.editor {
			background-image: url('../img/editor.png');
		}
	}

	aside {
		width: 360px;
		display: inline-block;
		position: absolute;
		left: 25px;
		top: 50%;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);

		h1 {
			font-size: 25px;
			line-height: 29px;
			margin-bottom: 15px;
		}

		div {
			line-height: 22px;
		}
	}
}

footer {
	margin-top: 80px;
	border-top: 1px solid @lightGray;
	font-size: 10px;
	padding: 20px;
	color: gray;

	a {
		color: gray;
		float: right;
		padding-left: 15px;
	}
}

.badge {
	width: 244px;
	height: 71px;
	margin: 0 auto;
	display: block;
	text-indent: -9999px;
	background-image: url('../img/app-store-badge.png');
	background-size: 244px 71px;
	background-repeat: no-repeat;
}

.margin-top {
	margin-top: -40px;
	margin-bottom: 60px;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

@media screen and (max-width: 899px) {

	#centerpiece h1 {
		font-size: 65px;
	}

	header {
		h1.branding {
			width: 100%;
			float: none;
			background-position: center;
		}
		aside {
			display: none;
		}
	}

	.features {

		figure {
			position: relative;
			height: auto;
			margin-bottom: 40px;

			.image-container {
				margin: 0 auto;
				background-position: center 0;
				left: auto !important;
				right: auto !important;
				position: relative;
			}
			&.flower-bg {
				background-image: none;
			}
		}

		aside {
			position: relative;
			top: auto;
			left: auto !important;
			right: auto !important;
			-webkit-transform: none;
			margin-top: 25px;
			margin-bottom: 25px;
			text-align: center;
			width: auto;
		}
	}

}

@media screen and (max-width: 593px) {
	#centerpiece {
		h1 {
			font-size: 50px;
		}
	}

	.features {

		figure {

			.image-container {
				width: 100%;
				height: 200px;
				background-size: 270px;
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.features figure.flower-bg {
		background-position: -200px 0;
	}
}

@media screen and (min-width: 1044px) {
	.features figure.flower-bg {
		background-position: -150px 0;
	}
}

@media screen and (min-width: 1230px) {
	.features figure.flower-bg {
		background-position: 0;
	}
}
